@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: beige;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: white;
  padding: 2rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
}

.container h1{
  color: #022f2e;
  text-align: center;
  margin-bottom: 15px;
}

.form-group{
  position: relative;
  margin-bottom: 20px;
}

label{
  display: block;
  margin-bottom: 2px;
  color: #0b4f4a;
  font-weight: bold;
}

input{
  display: block;
  font-size: 14px;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
  width: 100%;
  padding: 10px;
  transition: border-color 0.3s;
}

input:focus{
  outline: none;
  border-color: #0b4f4a;
}

small{
  visibility: hidden;
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: 12px;
  color: #e74c3c;
}

button{
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #0b4f4a;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover{
  background-color: #022f2e;
}

.form-group.error input{
  border-color: #e74c3c;
}

.form-group.success input{
  border-color: #2ecc71;
}

.form-group.error small {
  visibility: visible;
}